<h4>Editing</h4>

<%= form_for @list do |f| %>
    <div>
      <%= f.label "Appoint list on a different date" %> <br>
      <%= f.date_field :date, value: @list.date %>
    </div>
    <%= f.submit %>
<% end %>

<br>
<table class="table table-striped">
  <thead>

  <tr>
    <th>Task body</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody id="Tasks">

  <%= render @list.tasks %>

  </tbody>
</table>
<br>
<%= form_for([@list, Task.new] , remote: true) do |f| %>
    <%= f.text_field :task_body %>
    <%= f.submit %>
<% end %>

<p>
  <%= link_to "Back to main page", lists_path %>
</p>

