<table class="table table-striped">
  <thead>
  <tr>
    <th>Schedule</th>
  </tr>
  </thead>
  <tbody id="Lists">
  <% @lists.each do |list| %>
      <%= render list%>
  <% end %>
  </tbody>
</table>




<%= form_for(List.new, remote: true) do |f| %>
    <div>
      <%= f.label "Add new list" %> <br>
      <%= f.date_field :date, value: Date.today %>
    </div>
    <%= f.submit %>
<% end %>